# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Note: If you are using older services, you may need _USERNAME and _PASSWORD
# instead of _IAM_APIKEY.

# Watson Assistant
WORKSPACE_ID=d0f04741-81ca-4f29-90ec-f161c7945e35
ASSISTANT_URL=https://gateway-lon.watsonplatform.net/assistant/api
ASSISTANT_IAM_APIKEY=6yg-HHA8bJZ5QR5-25lw4hPzDfJlT595pHRpBfG0wzaI

# Watson Discovery
DISCOVERY_URL=https://gateway-lon.watsonplatform.net/discovery/api
DISCOVERY_ENVIRONMENT_ID=290c396c-8c43-4b44-bb17-8c159c1a6301
DISCOVERY_COLLECTION_ID=2a4b724f-82a9-4cb9-91af-7731abeb0c1e
DISCOVERY_IAM_APIKEY=ESJtXHhU1b2czPQhpO_ZDRtGZdZk14b9SWT_tlD-iVcO

# Watson Natural Language Understanding
NATURAL_LANGUAGE_UNDERSTANDING_URL=https://gateway-lon.watsonplatform.net/natural-language-understanding/api
NATURAL_LANGUAGE_UNDERSTANDING_IAM_APIKEY=B1ZGR0fvixWvMQrUQuuCoUFp7FTMgUrwTiRYEHeCq1Go

# Watson Tone Analyzer
TONE_ANALYZER_URL=https://gateway-lon.watsonplatform.net/tone-analyzer/api
TONE_ANALYZER_IAM_APIKEY=vVHReyvrGauSAQiwxgJvTshHSRklZY_HMRcD7JpE0tKo

# Run locally on a non-default port (default is 3000)
# PORT=3000

#config ID:76a43078-47a7-471a-afe3-c7e2f9885dc1
